
*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.nav_bar{
    padding-top: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.portal{
    height: 350px;
    width: 360px;
    border-radius: 8px;
    border: solid 1px #E9E9E9;
    margin: 0 auto;
}
h5{
    font-weight: normal;
    color: #767676;
}
.button_create{
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgba(213,217,217,.5);
    background: #FFF;
    border-color: #D5D9D9;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    text-align: center;
    text-decoration: none!important;
    vertical-align: middle;
    width: 350px;
    height: 31px;
}
.foot{
    padding-top: 20px;
    text-align: center;
    display: flex;
    border-top: solid 2px #EFEFEF;
    background: linear-gradient(to bottom,#EFEFEF, #F7F7F7, #FFFFFF);
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    
    
}
a{
    font-size: 11px;
    text-decoration: none;
    color:#0066c0;
}
a:visited{
    color: #800080;
}
.links2{
    width:350px;
    display: flex;
    justify-content: space-around;
    align-self: center;
}
.main_one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.new{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.portal p{
    padding-left: 2px;
    padding-bottom: 2px;
    font-weight: 700;
    font-size: 13px;
    line-height: 19px
}
input{
    background-color: #fff;
    height: 31px;
    padding: 3px 7px;
    line-height: normal;
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255,255,255,.5), 0 1px 0 rgba(0,0,0,.07) inset;
    outline: 0;
    width: 296px;
}
#Continue{
    width: 294px;
    height: 29px;
    background-color: #FFD712;
    border-radius: 5px;
    border: none;
    box-shadow: none;
}
.portal_bottom{
    border-top: #949494;
}


  
  
  